/* color */
$backgroundColor: hsl(30, 38%, 92%);
$primaryColor: hsl(158, 36%, 37%);
$buttonHoverColor: hsl(158, 80%, 20%);
$titleColor: hsl(212, 21%, 14%);
$paragraphColor: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

/* size */
$maxWidth: 640px;
$paragraphFontSize: 14px;
$primaryFontSize: 32px;
$radius: 10px;
$cardPaddingTop: 3%;
$cardPadding: 5%;